@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&family=Poppins:wght@400;600;700;900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    background-color: white;
    padding: 0 120px;
}

.nav__logo{
    height: 60%;
}

.nav__logo img{
    height: 100%;
}

.nav__links{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

.nav__links a{
    display: block;
    text-decoration: none;
    margin-left: 50px;
    color: #252b41;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
}

.nav__links a.active{
    color: #fa4a0e;
}

.main{
    display: block;
    position: relative;
    height: 590px;
    overflow: hidden;
    color: white;
}

.main .content{
    display: flex;
    height: 100%;
    width: 100%;
    position: relative;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.back_img{
    display: block;
    position: absolute;
    top: -220px;
    user-select: none;
    width: 100%;
    filter: brightness(35%);
}

.main__title{
    margin-top: 70px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 1px;
    text-align: center;
}

.main__heading{
    display: block;
    padding: 0 250px;
    margin-top: 35px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 45px;
    font-weight: 700;
}

.main__subheading{
    display: block;
    text-align: center;
    margin-top: 50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

.main__buttons{
    display: flex;
    width: 480px;
    height: 55px;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.buttons__playstore,
.buttons__appstore{
    margin-top: 50px;
    display: block;
    width: 180px;
    height: 60px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    color: white;
    text-align: center;
    line-height: 60px;
    border-radius: 30px;
}

.buttons__playstore{
    background-color: #f84a0d;
}

.buttons__appstore{
    border: 2px solid white;
    line-height: 56px;
}

.apps__img{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    position: relative;
    height: 500px;
    background-color: white;
}

.apps__img img{
    display: block;
    height: 550px;
    position: absolute;
    top: -115px;
}

.apps__use{
    display: flex;
    flex-direction: column;
    padding: 60px 100px 80px;
}

.apps__use img{
    flex: 2;
}

.use__heading{
    display: block;
    margin: 0 auto;
    text-align: center;
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    padding-top: 50px;
    width: 840px;
    border-top: 3px solid #e4e4e4;
    margin-bottom: 50px;
}

.user__auth,
.meal_types,
.payment__system{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    flex: 3;
    margin-bottom: 50px;
}

.user__auth{
    padding-right: 130px;
}

.meal_types{
    padding-left: 130px;
}

.payment__system{
    padding-right: 130px;
}

.content__hint{
    color: #fa4a0c;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.4px;
}

.content__heading{
    color: #252b42;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.content__info{
    font-family: 'Poppins', sans-serif;
    color: #737373;
    font-size: 20px;
}